

//headerStyles
#header{
    header{
        width: 100%;
        @include margin-padding(100px,0 ,0 ,0);
        @include flex(flex,space-between,flex-start);
        .right{
            @include section-divider(flex, 67%, 67%);
            position: relative;
        
            .gear-1{
                position: absolute;
                top: 0;
                right: 20px;
                font-size: 35px;
                color: rgb(107, 107, 107);
                animation: gear-1 13s infinite linear
            }


            @keyframes gear-1 {
                100%{
                    transform: rotate(360deg)
                }
                
            }

            .gear-2{
                position: absolute;
                top: 0;
                right: 0;
                font-size: 20px;
                color: rgb(78, 78, 78);
                animation: gear-2 13s infinite linear
            }


            @keyframes gear-2 {
                100%{
                    transform: rotate(-360deg)
                }
                
            }

            .sq-1{
                position: absolute;
                top: 0;
                left: 80px;
                width: 20px;
                height: 20px;
                border: 4px solid #efefef;
                animation: sq-1 15s infinite linear;
            }
            @keyframes sq-1 {
                100%{
                    transform: rotate(360deg)
                }
                
            }
        }

        .left{
            @include section-divider(flex, 33%, 33%);
            @include margin-padding(17%,0 ,0 ,0);

            h1{
                font-size: 30px;
                @include margin-padding(0,0 ,30px ,0)
            }

            
        }
    }

}