
//mixins
@mixin flex($flex:flex , $position-x:center , $position-y:center) {
    display: $flex;
    justify-content: $position-x;
    align-items: $position-y;
    
}

@mixin margin-padding($top,$right,$bootom,$left,$margin:false) {
    @if($margin){
        margin: $top $right $bootom $left;
    }
    @else{
        padding: $top $right $bootom $left;

    }
    
}

@mixin section-divider($flex:flex,$flex-basis:null,$max-width:null) {

    display: flex;
    flex-basis: $flex-basis;
    max-width: $max-width;
    
}

@mixin border-radius($top-left,$top-right,$bottom-right,$bottom-left) {
    border-radius:$top-left $top-right $bottom-right $bottom-left ;
}