//menuStyles
#nav{
    .navbar{

        height: 60px;
        font-size: 16px;
        @include flex(flex,space-between,null);
        @include margin-padding(24px,0 ,24px ,0  );
        ul{
            li{
                cursor: pointer;
                position: relative;
                display: inline-block;
                line-height: 60px;
                @include margin-padding(0,0 ,0 ,18px,true );

                &::after{
                    content: '';
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 2px;
                    background-color: rgb(54,114,228);
                    transition: width .5s ease;

                }
                &:hover::after{
                    width: 100%;

                }

                a{
                    color: $nav-link;
                    transition: color 0.5s ease;

                }
                &:hover a{
                    color: $nav-link-hover;

                }

            }
        }

        .social-icon{
            direction: ltr;
            @include margin-padding(21px,0 ,0 ,0 ,false );
            a{
                color: $social-icons-color;
                transition: color 1s ease;

                &:hover{
                    color: $social-icons-color-hover;
                }

                i{
                    @include margin-padding(0,8px,0,0)
                }

            }

        }
         
    }
}