$font-path:'../fonts';
$font-family: irs;
$font-style:normal;
$font-weight:normal;
$nav-link:rgb(46,46,46);
$nav-link-hover:rgb(54,114,228);
$social-icons-color:#545858;
$social-icons-color-hover:#3f3d3d;